/* CSS Document */
.bodycolor {
	
}

body {
	height: 100%;
	font-family: Segoe UI;
}

.baseText {
	font-size: 13px;
	color: #272323;
	font-style: normal;
	font-weight: semi bold;
}

/*.button {
	background-color: #CC0000 ;	
	font-size: 14px;
	font-weight:Semi bold;
	color: #ffffff 
}
*/
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 9px/100% Arial, Helvetica, sans-serif;
	/*padding: .5em 2em .55em;*/
	padding: 0pt 0pt 4px;
	height: 22px;
	width: 90px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
	text-decoration: none;
}

.red {
	color: #FFFFFF;
	border: solid 1px #df0909;
	background: #f62b2b;
	background: -webkit-gradient(linear, left top, left bottom, from(#f62b2b),
		to(#d20202));
	background: -moz-linear-gradient(top, #f62b2b, #d20202);
	filter: progid:  DXImageTransform.  Microsoft. 
		gradient(startColorstr =   '#f62b2b', endColorstr =   '#d20202');
}

.red:hover {
	background: #e40a0a;
	background: -webkit-gradient(linear, left top, left bottom, from(#e40a0a),
		to(#9f0202));
	background: -moz-linear-gradient(top, #e40a0a, #9f0202);
	filter: progid:  DXImageTransform.  Microsoft. 
		gradient(startColorstr =   '#e40a0a', endColorstr =   '#9f0202');
}

.grey {
	color: #FFFFFF;
	border: solid 1px #989898;
	background: #686868 ;
	background: -webkit-gradient(linear, left top, left bottom, from(#686868 ),
		to(#888888));
	background: -moz-linear-gradient(top, #686868, #888888);
	filter: progid:  DXImageTransform.  Microsoft. 
		gradient(startColorstr =   '#686868', endColorstr =   '#888888');
}

.grey:hover {
	background: #484848  ;
	background: -webkit-gradient(linear, left top, left bottom, from(#484848 ),
		to(#686868));
	background: -moz-linear-gradient(top, #484848, #686868);
	filter: progid:  DXImageTransform.  Microsoft. 
		gradient(startColorstr =   '#484848', endColorstr =   '#686868');
}

font.error {
	color: #b72814;
	background-color: #ffe5e6;
	font-size: 14px;
	font-style: italic;
	border-width: 1px;
	border: 1px;
	border-color: #ffe5e6;
	-webkit-text-stroke: 3px black;
}

font.success {
	font-size: 14px;
	font-style: italic;
	color: #423e3e;
	color: #423e3e;
	background-color: #37cb4a;
	border-width: 1px;
	border: 1px;
	border-color: #014406;
	outline-width: 1px;
	-webkit-text-stroke: 1px black;
}

.highlighted {
	background: yellow;
}

.largeTextBox {
	height: 18px;
	width: 300px;
}

.textArea {
	height: 50px;
	width: 300px;
}

.Data {
	font-size: 14px;
	font-style: normal;
	color: #30302f;
}

.ReadOnlyData {
	font-size: 14px;
	font-style: normal;
	color: #615e5e;
	text-align: center;
	vertical-align: middle;
	/*border: 1px solid #b72814;*/
	border-right: 1px #b72814 dotted;
}

.tableRow {
	height: 20px;
	border: 1px dashed #b72814;
}

.oddRow {
	height: 20px;
	border: 1px dotted #b72814;
	background-color: #FFFFE9;
}

.evenRow {
	height: 20px;
	border: 1px dotted #b72814;
	background-color: #F4F4F8;
}

.reporttableborder {
	border: 2px solid #b72814;
	border-collapse: collapse;
	padding: 10px;
	width: 100%;
	height: 10%;
	text-align: center;
}

/*
.reporttableborder tbody tr:even{
	background-color: #F4F4F8;
}

.reporttableborder tbody tr:odd{
	background-color: #FFFFE9;
}
*/
.TableHeading {
	font-size: 10px;
	font-style: normal;
	color: #272323;
	font-weight: semi bold;
	border: 1px solid #b72814;
	background-image:
		url('/${pageContext.request.contextPath}/resources/images/Table_Header_Grey.png');
}

.PageNameHeading {
	font-size: 18px;
	font-style: normal;
	color: #b72814;
}

.LinksBelowPageHeadingAccessible {
	font-size: 11px;
	font-style: normal;
	color: #000000;
}

.LinksBelowPageHeadingNotAccesible {
	font-size: 11px;
	font-style: normal;
	color: #827e7e;
}

.Heading {
	font-size: 14px;
	font-style: normal;
	color: #b72814;
	font-weight: bold;
}

.ChangeMouseCursorToHand {
	cursor: hand;
}

.tableInnerProperties {
	width: 100%;
	border-collapse: collapse;
	border-width: 1px;
}

.outerDivOfTable {
	width: 100%;
	height: 105px;
	font-size: 12px;
	overflow: auto;
}