.pageLayout {
	background-color: #636363;
}

.layoutTable {
	width: 98%;	
	cellSpacing: 0;
	cellPadding: 0;
	border: 0
}

.menuTable {
	
}

.menuItem {
	
}

.menuItemSelected {
	
}

.navigationText {
	
}