.pageLayout {
	background-color: #636363;
}

.layoutTable {
	width: 98%;
	cellSpacing: 0;
	cellPadding: 0;
	border: 0
}

.menuBar {
	width: 95%;
	margin: 0px 0px 0px 0px;
	padding: 6px 6px 4px 6px;
	height: 40px;
	line-height: 100%;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	box-shadow: 2px 2px 3px #666666;
	-webkit-box-shadow: 2px 2px 3px #666666;
	-moz-box-shadow: 2px 2px 3px #666666;
	background: #636363;
	background: linear-gradient(top, #A9A9A9, #636363);
	background: -ms-linear-gradient(top, #A9A9A9, #636363);
	background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9),
		to(#636363));
	background: -moz-linear-gradient(top, #A9A9A9, #636363);
	border: solid 0px #606060;
	position: relative;
	z-index: 999;
}

.menuTable {
	
}

.menuItem {
	
}

.menuItemSelected {
	
}

.navigationText {
	
}